mat-toolbar{
  background-color: #b71c1c;
}


.admin-layout {
  height: 100vh;
}

.admin-sidenav {
  width: 220px;
  padding: 1rem;
  background-color: #f0f0f0;
}

.admin-sidenav button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  text-align: left;
}

.admin-content {
  padding: 1rem;
}

.spacer {
  flex: 1 1 auto;
}

.icone-esquerdo{
  margin-right: 8px;
}
