<mat-sidenav-container class="admin-layout">
  <mat-sidenav mode="side" opened class="admin-sidenav">
    <button mat-button routerLink="/admin/agendar-viagem">Agendar Viagem</button>
    <button mat-button routerLink="/admin/gerenciar-veiculos">Gerenciar Veículos</button>
    <button mat-button routerLink="/admin/gerenciar-motoristas">Gerenciar Motoristas</button>
    <button mat-button routerLink="/admin/registrar-abastecimento">Registrar Abastecimento</button>
    <button mat-button routerLink="/admin/registrar-manutencao">Registrar Manutenção</button>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">Bem-vindo ADM</mat-toolbar>
    <div class="admin-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
