<mat-toolbar color="primary">
  <mat-icon class="icone-esquerdo">local_shipping</mat-icon>
  <span class="titulo">Cargo Express</span>
  <span class="spacer"></span>
  <button mat-icon-button>
    <mat-icon class="icone-direito">supervised_user_circle</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="admin-layout">
  <mat-sidenav mode="side" opened class="admin-sidenav">
    <button mat-button routerLink="/admin/pagina-inicial">Página Inicial</button>
    <button mat-button routerLink="/admin/agendar-viagem">Agendar Viagem</button>
    <button mat-button routerLink="/admin/gerenciar-veiculos">Gerenciar Veículos</button>
    <button mat-button routerLink="/admin/gerenciar-motoristas">Gerenciar Motoristas</button>
    <button mat-button routerLink="/admin/registrar-abastecimento">Registrar Abastecimento</button>
    <button mat-button routerLink="/admin/registrar-manutencao">Registrar Manutenção</button>
  </mat-sidenav>

 
  <div class="admin-content">
      <router-outlet></router-outlet>
  </div>
