 <div class="container">
  <h2>Lista de Agendamentos</h2>

  <div *ngFor="let ag of agendamentos" class="card">
    <div class="card-header">
      <span>Agendamento #{{ ag.id }}</span>
      <span class="status" [ngClass]="ag.status.toLowerCase()">{{ ag.status }}</span>
    </div>

    <div class="card-body">
      <p><strong>Motorista:</strong> {{ ag.motorista }}</p>
      <p><strong>Início:</strong> {{ ag.dataInicio || 'Não informada' }}</p>
      <p><strong>Fim:</strong> {{ ag.dataFim || 'Não informada' }}</p>

      <div class="actions">
        <button *ngIf="ag.status === 'PENDENTE'" (click)="agendarViagem(ag.id)" class="btn success">Agendar Viagem</button>
        <button *ngIf="ag.status === 'EM_USO'" (click)="registrarAbastecimento(ag.id)" class="btn warning">Registrar Abastecimento</button>
        <button *ngIf="ag.status === 'FINALIZADO'" (click)="registrarManutencao(ag.id)" class="btn info">Registrar Manutenção</button>
        
      </div>
    </div>
  </div>
</div>


