.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.form-row-flex {
  display: flex;
  gap: 16px;
  width: 100%;
}

.inputCep{
  width: 220px;
}

mat-form-field {
  width: 100%;
 
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  margin-top: 16px;
}
