.example-spacer {
  flex: 1 1 auto;
}

.toolbar{
  background-color: #b71c1c;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2)
}

.titulo{
  color: white;
}

.botao {
  width: 24px;
  height: 24px;
  padding: 0;
  margin-left: 4px;
  vertical-align: middle;
}

.container {
  display: flex;
  margin: 20px 0 0 20px; /* top  - right - bottom- left*/
  flex-wrap: wrap;
  gap: 16px;
  width: 100%;
  justify-content: flex-start;
  font-family: Arial, sans-serif;
}



.card {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-bottom: 16px;
  padding: 12px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 0.1);
  width: auto;
}

.card-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 10px;
}
.info {
    margin-bottom: 10px;
    justify-content: center;
}

.status {
  padding: 4px 8px;
  border-radius: 8px;
  color: white;
  font-size: 0.8rem;
  text-transform: uppercase;

}

.status.pendente {
  background-color: #f39c12; /* laranja */
}

.status.em_uso {
  background-color: #2980b9; /* azul */
}

.status.finalizado {
  background-color: #27ae60; /* verde */
}

.status.agendado {
  background-color: #515352; /* verde */
}

.card-body p {
  margin: 6px 0;
}

.actions {
  margin-top: 12px;
}

.btn {
  border: none;
  padding: 8px 14px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  color: white;
  margin-right: 8px;
  transition: background-color 0.3s ease;
}

.btn.success {
  background-color: #2ecc71;
}

.btn.success:hover {
  background-color: #27ae60;
}

.btn.warning {
  background-color: #f1c40f;
  color: #333;
}

.btn.warning:hover {
  background-color: #d4ac0d;
  color: #222;
}

.btn.info {
  background-color: #3498db;
}

.btn.info:hover {
  background-color: #2980b9;
}
/*------------------------------------------------LISTA-------------------------------*/
.status-badge {
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.75rem;
}

.pendente {
  background-color: #f39c12;
  color: #000;
}

.agendado {
  background-color: #6c757d;
  color: #000;
}

.finalizado {
  background-color: #28a745;
  color: #000;
}

.em_uso {
  background-color: #007bff;
  color: #000;
}

.agViagem {
  align-self: center;
}


.lista {
  display: flex; 
  gap: 1rem; 
  flex-wrap: wrap; 
  margin-top: 5rem; 
  margin-bottom: 1rem; 
  align-items: center;
}

.filtro-info {
  background: #f1f1f1;
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 14px;
  color: #444;
  display: inline-block;
}

.tabela-compacta {
  font-size: 13px;
}

.tabela-compacta th, 
.tabela-compacta td {
  padding: 4px 8px; /* Reduz o espaço interno */
  line-height: 1.2;
}

.mat-header-cell {
  font-weight: 600;
}

button.mat-raised-button {
  padding: 2px 8px;
  font-size: 12px;
  min-height: 28px;
  line-height: 1;
}

.status-badge {
  font-size: 11px;
  padding: 2px 6px;
  border-radius: 4px;
}
